.idea/
venv
/venv
.spec
/__pycache__
/app/__pycache__
*/__pycache__
/utils/config.py
**/__pycache__
**/__pycache__/**
/sheets/credentials.json
/manager_script_**
/dist
/build
manager_script_**
logs
.log
bot.log
static/images
*.log
g

